---
layout: layout
---

<div id="hero" class="width-100 dark-blue-bg">
    
    {% include nav.html home_prefix='' %}

    <div class="text-center">
        <img id="hero-logo" src="/img/h.png" alt="H">
        <p class="white">Hayes Law Firm, PLLC &middot; 25 Broadway, 10F &middot; NYC &middot; 212 380 6513 &middot; <a class="white" href="mailto:info@hayeslf.com">info@hayeslf.com</a></p>
        <a data-scroll href="#about"><img src="/img/arrow.png" id="arrow"></a>
    </div>
</div>

{{ content }}
