<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="/css/foundation.css">
        <link rel="stylesheet" href="/css/foundation-icons.css">
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/vendor/modernizr.js"></script>
    </head>
    <body>
        
        {{ content }}

        <footer class="width-100 dark-blue-bg">
            <div class="row">
                <p class="white text-center">Under the New York Rules of Professional Conduct, portions of this web site may contain material constituting attorney advertising. Prior results do not guarantee a future or similar outcome. Each representation has unique facts and circumstances that may impact results. The information contained on this website is provided for general information purposes only and does not constitute legal advice. Accessing or viewing materials though this website or any email or other electronic communication sent to Hayes Law Firm or any of its attorneys through this website does not create an attorney-client relationship. Furthermore, while this website may enable communication with Hayes Law Firm or its attorneys, messages sent through or using this website may not be treated as confidential or privileged.</p>
                <p class="white text-center">&copy; 2014 Hayes Law Firm, PLLC.</p>
            </div>
        </footer>
        <script src="/js/vendor/jquery.js"></script>
        <script src="/js/foundation.min.js"></script>
        <script src="/js/smooth-scroll.js"></script>
        <script>
            $(document).foundation({topbar: {scrolltop: false}});
            smoothScroll.init({offset: $('nav').outerHeight()});
        </script>
    </body>
</html>
